:root {
  --animate-duration: 2s;
  --animate-delay: 3s;
}
.contenedor-blanco h2 img{
  animation:fadeIn;
  animation-duration:3s ;
}


.contenedor-blanco h3 {
  animation: backInLeft; 
  animation-duration: 3s; 
}
