/*Globales*/
html{
    font-size: 62.5% ; /* equivale 1 rem a 10 px */
}
body{
    font-family: 'Lato', sans-serif;

}
h1{
    font-size: 4rem;
    font-weight: 100;
}

h3{
    font-size: 3rem;
}

p{
    font-size: 1.4rem;
}

li{
    font-size: 1.3rem;
}
/* Botones */

.boton{
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.6rem;
    padding: .8rem 3rem;
    border-radius: 2rem;
    text-decoration: none;
    border-width: .2rem;
    border-style: solid;
    border-color: black;
}

.paypal{
    background-color: rgb(16, 64, 167);
    color: white;
}

/* Fondo del Checkout*/
.fondo-checkout{
    background-image: url(../img/Fondo-natural.svg);
    background-size: cover;
    background-position: center;
    padding: 4rem;
}
/* Fin del fondo*/

/* Contenedor del chekout */
.contenedor-checkout{
    max-width: 120rem;
    margin: 0 auto;
    background-color: white;
    height: 100%;
}

/* Logo */

.logo-checkout{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
}

.contenido h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
}


/* Tabla de los pagos */

.contenido .tabla-check{
    padding: 2rem;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.contenido .tabla-check p{
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 500;
}

.contenido .tabla-check a{
    margin-bottom: 3rem;
}

/* Pago 1 */

.tabla-check .pago1{
    background: rgba(212, 212, 212, 0.596);
    border-radius:2rem ;
    backdrop-filter: blur(0.2rem);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.tabla-check .pago1 p{
}

/* Pago 2 */

.tabla-check .pago2{
    background: rgba(212, 212, 212, 0.596);
    border-radius:2rem ;
    backdrop-filter: blur(0.2rem);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.tabla-check .pago2 p{
    
}

/* Texto de seguridad */

.text-seguridad{
    text-align: center;
    padding: 3rem;
}
