

/*Globales*/
html{
    font-size: 62.5% ; /* equivale 1 rem a 10 px */
}
body{
    font-family: 'Lato', sans-serif;

}
h2{
    font-size: 4rem;
    font-weight: 100;
}

p{
    font-size: 1.6rem;
}

li{
    font-size: 1.3rem;
}

/* Botones */

.boton{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
}
.boton-adquirir{
    background: rgba(32, 197, 46, 0.596);
    border-radius:2rem ;
    backdrop-filter: blur(0.2rem);
    padding: 1rem 3rem;
    font-size: 1.6rem;
    color: #ffffff;
}

.boton-comprar{
    background-color: white;
    color: black;
    width: 6rem;  
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.boton-enviar{
    color: #41591D;
}

/* Utilidades */

.negrita{
    font-weight: 700;
}

.fondo{
background-color: rgb(255, 255, 255);
background-size: cover;
color: rgb(0, 0, 0);
}
/*-- Header--*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto; 
}

.barra{
    display: flex;
}

.barra a{
    padding-top: 2rem;
    padding-right: 1rem;
}

.principal{
    font-size: 4.5rem;
}
/* Termina el header */

.presentacion{
    padding-top: 1rem;
    padding-left: 5rem;
}

.separacion{
    padding-bottom: 5rem;
}

/*COVER*/


.container-cover{
    height: 50rem;
    background-image: url(../img/Caiman\ 2\ \(1\).svg);
    background-size: cover;
    background-position: right;
    padding: 4rem;
}


.cover{
    max-width: 120rem;
    height: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
   
}

.container-cover .texto{
    max-width: 40rem;
    width: 100rem;
    
}

.container-cover .texto h2{
    font-size: 5rem;
    font-weight: 600;
}

.container-cover .texto p{
    font-size: 2rem;
    margin-top: 4rem;
    font-weight: bold;
}

/* Sección de promesas */

.container-cover-blanco{
    padding: 4rem;

}

.contenedor-blanco{
    max-width: 120rem;
    margin: 0 auto;
    font-size: 4.1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
}
.titulo-promesa {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.titulo-promesa h2{
    font-weight: 700;
}

.bloque-promesas {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    margin: 0 15rem;
}

.img1 img{
    width: 20rem;
}
.img2 img{
    width: 20rem;
}
.img3 img{
    width: 20rem;
}

/* Sección versiones de reto caiman */

main{
    background-image: radial-gradient(circle at 50% 120.71%, #668d34 0, #53872f 16.67%, #3a7e29 33.33%, #107220 50%, #006619 66.67%, #005d17 83.33%, #005519 100%);
}
.container-cover-versiones{
  max-width: 120rem;
  height: 100%;
  margin: auto;
  padding-top: 1rem;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  color: rgb(19, 19, 20);
}

.container-cover-versiones h2{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255); 
    margin: 0;
    padding: 0;
}
#version-g1{
    padding-top: 5rem;
}


#version-g2{
    color: gold;
    margin: 0;
    padding-top: 0;
    text-shadow: #ffffff;
}

.cuadricula-versiones{
    padding: 6rem;
}
.versiones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.versiones .texto{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 2rem; 
}
.versiones .texto h3{
    font-size:2rem;
    padding-bottom: 2rem;
}
.versiones .texto li{
    margin-top: .3rem;
    font-weight: bold; 
    list-style-type: none; 
}
.texto .lista{
    margin-bottom: 5rem;
}
.versiones .texto a{
    background-color: white;
    color: black;  
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
}
.versiones .img-caiman{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
 
}

.version1 {
    background: rgba(212, 212, 212, 0.596);
    border-radius:2rem ;
    backdrop-filter: blur(0.2rem);
    display: flex;
    width: 45.4rem;
    height: 38.8rem;
    margin: .5rem;  
}
.version1 .boton {
    justify-content: space-between;
    
}


.version2{
    background: rgba(212, 212, 212, 0.596);
    border-radius:2rem ;
    backdrop-filter: blur(0.2rem);
    display: flex;
    width: 45.4rem;
    height: 38.8rem;
    margin: .5rem; 
}


.version3{
    background: rgba(212, 212, 212, 0.596);
    backdrop-filter: blur(0.2rem);
    border-radius: 2rem;
    display: flex;
    width: 45.4rem;
    height: 38.8rem;
    margin: .5rem;
}
.version4{
    border-color: rgba(212, 212, 212, 0.596);
    border-width: .1rem;
    border-style:solid;
    border-radius:2rem ;
    display: flex;
    width: 44.8rem;
    height: 38.2rem;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}

/* Viñeta */
.viñeta h2{
    color: #41591D;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
    font-weight:bold;
    font-style: italic;
    font-size: 3rem;
    text-transform: uppercase;
}

/* Taller digital */
.taller-digital{
    display: flex;
    padding-bottom: 0;
    flex-wrap: wrap;
    padding: 0 4rem;
}

.taller-digital .texto{
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
}

.taller-digital .texto h2{
    font-size: 3rem;
    font-weight: bold;
}
.taller-digital .texto p{
    font-size: 3rem;
}
.taller-digital .lic img{
    display: flex;
    width: 50rem;
    height: 55rem;
    object-fit: cover;
    padding-bottom: 0;
    
}

/* Formulario*/
.fondo-formulario{
    background-image: radial-gradient(circle at 50% 120.71%, #668d34 0, #53872f 16.67%, #3a7e29 33.33%, #107220 50%, #006619 66.67%, #005d17 83.33%, #005519 100%);
}
.contenedor-formulario{
    max-width: 120rem;
    margin: 0 auto;
    padding-bottom: 10rem;
    display: flex;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    }

.titulo-formulario{
    padding-top: 5rem;
    justify-content: center;
    font-size: 4rem;
}
.titulo-formulario h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 5rem;
}
.form{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgba(212, 212, 212, 0.596);
    border-radius:2rem ;
    backdrop-filter: blur(0.2rem);
    color: black;
    font-size: 2rem;
    padding: 2rem;
    margin: 0;
    flex-wrap: wrap;
    
}

.form input{
    background: rgba(212, 212, 212, 0.596);
    border-radius:2rem ;
    backdrop-filter: blur(0.2rem);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: .1rem;
    border-bottom-style: solid;
    border-color: black;
    margin-top: 4rem;
}

.form .inputContainer{
 
    flex-wrap:wrap ;
    width: auto;
    min-height: 1rem;
    padding-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.contenedor-boton{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom:1rem ;
}
.contenedor-boton .submitBtn{
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.8rem;
    margin-top: 3rem;
    padding: 1rem 5rem;
    border-radius: 3rem;
    border-color: rgb(25, 85, 38);
    justify-content: end;
}


/* Footer*/
footer{
    font-size: 3rem;
    font-weight: 100;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    margin: .5rem;
    display: flex;
    justify-content: center;
}


/* -- Responsive -- */

@media screen and (max-width: 72rem){

    .bloque-promesas {
        font-size: 3rem;
        }
    .img1 img{
        width: 28rem;
    }
    .img2 img{
        width: 28rem;
    }
    .img3 img{
        width: 28rem;
    }
}
